<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
		<rules>
			<rule name="Index Request" enabled="true" stopProcessing="true">
				<match url="^$" />
				<action type="Redirect" url="index.html" logRewrittenUrl="true" />
			</rule>
		</rules>
		</rewrite>
	</system.webServer>
 </configuration>